 body{	
 	font-size:16px; 
 	font-family:sans-serif;
 	margin: 50px; 
 }

.a {
	cursor: pointer;
}

 h4{
 	color:blue;
 }

  .btn{
  	font-size:16px; 
  	background-color: teal; 
  	color:white; 
  	width:150px;
  	padding:5px; 
  	margin:3px; 
  	border-radius:10px;
  }

  .right{
    float:right; 
  }

  .left{
    float:left; 
    margin:10px; 
  }